img {
  display: block;
  padding-top: 20px;
  margin: auto;
  width: 35%;
}

body {
  background-color: #301934;
}

h1 {
  color: white;
  text-align: center;
  font-family: cursive;
}

p {
  color: white;
  text-align: center;
}

.image-text {
  margin-bottom: 400px;
}
